@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo h1 {
    font-family: "Sansita Swashed", system-ui;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(3, 3, 8);
    border-radius: 5px;
}